@media (min-width: 1392px) {

    :root {
        --font-sizes-sans-small: 1.6rem;
        --font-sizes-sans-normal: 1.8rem;
        --fonts-sizes-sans-large: 2.6rem;
       }
}

@media (min-width: 992px) {

}

@media (min-width: 688px) {
 
}

@media (min-width: 425px) {
   .price {
       display: grid;
   }

}

/* @max-width */