@media (min-width: 1400px) {

    :root {
        --font-sizes-sans-small: 1.6rem;
        --font-sizes-sans-normal: 1.8rem;
        --fonts-sizes-sans-large: 2.6rem;
       }
}

@media (min-width: 992px) {

}

@media (min-width: 688px) {

}

@media (min-width: 375px) {
   .price {
       display: grid;
   }

}

@media only screen and (min-width: 62.5em) {
    .price {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, auto);
    }
    .community {
        grid-column: 1 / 3;
    }
    
}


/* @max-width */