
:root {
    --Secondary-blue: #1A9AF7;
    --Soft-blue:  #E7F5FF;
    --Warm-black:#201E1C;

    --cyan:hsl(196, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);

    --light-Gray: hsl(179, 62%,43%);
    --gray-Blue: hsl(71, 73%, 54%);


    --font-sizes-sans-small: 1.4rem;
    --font-sizes-sans-normal: 1.8rem;
    --fonts-sizes-sans-large: 2.4rem;
    --font-copy: 1.6rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* *, *::before, *::after {
    box-sizing: inherit;
} */
html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    line-height: 1.3;
    color: var(--light-Gray);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}
.price {

    
}
/* @media only screen and (min-width: 62.5em) {
    .price {

    }
} */
