
:root {
    --Secondary-blue: #1A9AF7;
    --Soft-blue:  #E7F5FF;
    --Warm-black:#201E1C;

    --cyan:hsl(196, 62%, 43%);
    --Bright-Yellow: hsl(71, 73%, 54%);

    --light-Gray: hsl(179, 62%,43%);
    --gray-Blue: hsl(71, 73%, 54%);


    --font-sizes-sans-small: 1.4rem;
    --font-sizes-sans-normal: 1.8rem;
    --fonts-sizes-sans-large: 2.4rem;
    --font-copy: 1.6rem;

    --paddingX: 1.8rem;
    --paddingY: 1.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* *, *::before, *::after {
    box-sizing: inherit;
} */
html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100vh;
    font-family: sans-serif;
    line-height: 1.3;
    color: var(--light-Gray);
}
ul {
    list-style: none;
}
a {
    text-decoration: none;
}

h1, h2, h3 {
    font-weight: bold;
    margin-top: 0;
    line-height: 1.5;
}
h2 {
    font-size: var(--font-sizes-sans-normal);
    margin-bottom: 1.25rem;
}
h3 {
    font-size: 1.1rem;
}
p {
    margin-top: 0;
}

.price {
  overflow: hidden;
  max-width: 40rem;
  margin: auto;
  border-radius: 0.5rem;
}
.price > * {
    padding: var(--paddingX) var(--paddingY);
}
.community {
    background-color: #ffffff;
}
.community h2 {
    color: var(--cyan);
}
.community .subtitle {
    font-size: 1rem;
    color: var(--Bright-Yellow);
    font-weight: bold;
    margin-bottom: 1rem;
}
.community p {
    font-size: 0.85rem;
    line-height: 1.75;
    margin-bottom: 1rem;
}
.subscription__price {
    display: flex;
    align-items: center;
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.25rem;
}
.subscription__price span {
    font-size: 1rem;
    margin-left: 0.8rem;
    font-weight: normal;
    opacity: 0.75;
}
.subscription p {
    font-size: 0.9rem;
    margin-bottom: 1.75rem;
}
.subscription a {
    display: block;
    background-color: var(--Bright-Yellow);
    color:#ffffff;
    padding: 0.75rem;
    text-align: center;
    border-radius: 0.25rem;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    transition: background-color 200ms ease;
}
.subscription  a:hover {
    background-color: var(--gray-Blue);
}
.why {
    background-color: var(--light-Gray);
}
.why h3 {
    font-size: var(--fonts-sizes-sans-large);
    color: #ffffff;
}
.why ul {
  margin-top: 0;
  padding: 0;
}
.why ul li {
 list-style-type: none;
 font-size: 0.85rem;
 margin-bottom: 0.2rem;
 color:var(--Soft-blue);
}
/* @media only screen and (min-width: 62.5em) {
    .price {

    }
} */
