/*
 1- Posicionamiento
 2- Modelo de caja (box-model)
 3- Tipografía 
 4- Visuales (efectos)
 5-Otros
*/
:root {
    --Bitcoin-orange: #F7931A;
    --Soft-orange: #FFE9D5;
    --Secondary-blue: #1A9AF7;
    --Soft-blue:  #E7F5FF;
    --Warm-black:#201E1C;
    --Warm-black1: #282623;
    --Grey: #BABABA;
    --off-White:#FAF8F7;
    --just-White:  #FFFFFF;
    --background: linear-gradient(207.8deg, #201E1C 16.69%, #F7931A 100%);

    --font-sizes-sans-small: 1.4rem;
    --font-sizes-sans-normal: 1.8rem;
    --fonts-sizes-sans-large: 2.4rem;
    }
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
    font-family: 'DM Sans', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
}